<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" type="text/css" href="/dist/@fortawesome/fontawesome-free/css/all.min.css">
        {#            <link rel="stylesheet" type="text/css" href="/dist/bootswatch/dist/<?= SiteSetting::get('site_theme') ?>/bootstrap.min.css">#}
        <link rel="stylesheet" type="text/css" href="/dist/bootswatch/dist/darkly/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/dist/cookieconsent/build/cookieconsent.min.css"/>
        <link rel="stylesheet" type="text/css" href="/includes/css/style.css">
        {% block stylesheets %}
        {% endblock %}
        {#            <!--[if lt IE 9]>#}
        {#            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
        {#            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
        {#            <![endif]-->#}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {{ include('Nav.html.twig') }}

        <main>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-sm-8">{{ page_title }}</div>
                    <div class="col-sm-4">{% block button %}{% endblock %}</div>
                </div>
                <div class="row">
                    {{ include('Alerts.html.twig') }}
                </div>
            </div>
            <div class="container">
                {% block body %}{% endblock %}
            </div>

        </main>
        {{ include('Footer.html.twig') }}
        {% block jsbottom %}{% endblock %}
    </body>
</html>
