<div class="navbar navbar-light bg-light p-0">
    <div class="container">
        <a class="navbar-brand mr-auto mr-lg-0" href="/Home">{{ site_name }}</a>
        <span class="navbar-text p-0">
        LABEL_SIGNED_IN_AS <strong> {{ user_name }}</strong><br>
        <a href="{{ path('account') }}">TITLE_MY_ACCOUNT</a> | <a href="{{ path('logout') }}"><i class="fa fa-sign-out-alt"></i>LABEL_SIGN_OUT</a>
    </span>
    </div>
</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-lg-0">
                {{ include('NavMenu.html.twig') }}
            </ul>
        </div>
    </div>
</nav>